<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener"/>
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <appSettings>
    <add key="API" value="YOUR_API_KEY"/>
    <add key="BaseURI" value="http://YOUR_API_SITE"/>
    <add key="Company" value="YOUR_ORGANIZATION"/>
    <add key="Location" value="DEFAULT_LOCATION"/>
    <add key="OUEnabled" value="false"/>
    <add key="OULevel" value="1"/>
    <add key="Interactive" value="false"/>
    <add key="WarrantyMonths" value="60"/>
    <add key="AssetTagPrefix" value="001"/>
  </appSettings>

</configuration>